<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<title>问答</title>
		<link rel="icon" href="../../static/Cat4.ico" type="image/x-icon" />
		<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="../../static/components/bootstrap/dist/css/bootstrap.min.css">
		<!--<link rel="stylesheet" href="http://cdn.codergroup.cn/components/font-awesome/css/font-awesome.min.css">-->
		<link rel="stylesheet" href="../../static/components/adminlte/css/AdminLTE.min.css">
		<link rel="stylesheet" href="../../static/components/adminlte/css/skins/skin-green-light.min.css">
		<link rel="stylesheet" href="../../static/css/style.css">
		<link rel="stylesheet" href="../../static/components/layer/theme/default/layer.css">

		<style>
			.nav-tabs-custom>.nav-tabs>li {
				margin-bottom: 0;
			}
		</style>

<link rel="stylesheet" href="../../static/css/comment.min.css">
<link rel="stylesheet" href="../../static/components/highlight/styles/github-gist.css">
<link rel="stylesheet" href="../../static/components/simditor/styles/simditor.css">
<style>
    .simditor {
        border: 0 !important;
    }

    .simditor-body {
        padding: 0 !important;
    }


    .simditor .simditor-body blockquote {
        display: block;
        padding: 16px;
        margin: 15px 0;
        border-left: 8px solid #3c8dbc;
        background: #EEF0F4;
        overflow: auto;
        overflow-scrolling: touch;
        word-wrap: normal;
        word-break: normal;
    }

    .simditor .simditor-body blockquote p {
        font-size: 14px;
        line-height: 22px;
        color: #999;
        font-weight: 400;
        margin-bottom: 0;
    }
</style>
</head>

<body class="hold-transition skin-green-light layout-top-nav">


<div class="wrapper">
	
			<header class="main-header">
				<nav class="navbar navbar-static-top">
					<div class="container">
						<div class="navbar-header">
							<a href=" " class="navbar-brand">
								<img src="" alt="" height="25">
							</a>
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
						<i class="fa fa-bars"></i>
					</button>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse pull-left" id="navbar-collapse">
							<ul class="nav navbar-nav">

								<form class="navbar-form navbar-left" action="/search/articles" role="search">
									<div class="form-group">
										<input type="text" class="form-control global-search-input" name="keywords" id="main-search-input" placeholder="Search...">
									</div>
								</form>
								<li style="padding-left: 40px;">
									<a href="../index.html" class="active">首页</a>
								</li>
								<li style="padding-left: 40px;">
									<a href="../home/article_list.html" class="active">日志 <span class="sr-only">(current)</span></a>
								</li>
								<li style="padding-left: 40px;">
									<a href="../home/userspace/article/add.html">写日志 <span class="sr-only">(current)</span></a>
								</li>
								<li style="padding-left: 40px;">
									<a href="../home/question_list.html">问答</a>
								</li>
								<li style="padding-left: 40px;">
									<a href="../home/userspace/question/add.html">提问</a>
								</li>
								<li style="padding-left: 40px;">
									<a href="../home/homepage/article.html">我的主页</a>
								</li>
							</ul>

							<!--<ul class="nav navbar-nav">
						<li style="padding-left: 40px;"><a href="../home/userspace/article/add.html">写日志 <span class="sr-only">(current)</span></a></li>
						<li style="padding-left: 40px;"><a href="../templates/home/userspace/question/add.html">提问</a></li>
					</ul>-->
						</div>

						<div class="navbar-custom-menu" id="user-nav-wrapper">

							<ul class="nav navbar-nav">
								<li>
									<a id="loginModalBtn">登录 </a>
								</li>
								<li>
									<a href="/register" target="_blank">注册</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</header>

    <div class="content-wrapper">

        <div class="container" >
            <section class="content">
                <div class="row">

                    <div class="col-md-9">
                        <!--正文盒子-->
                        <div class="box box-solid">
                            <div class="box-body">
                                <div id="primary" class="content-area">

                                    <ol class="breadcrumb">
                                        <li><a href="bulletin_list.html">公告</a>
                                        <li><a href="" >加油吧骚年</a>
                                        </li>
                                        <li class="active">正文</li>
                                    </ol>

                                    <header class="entry-header">
                                        <h1 class="entry-title">
                                           
                                            加油吧骚年
                                        </h1>
                                    </header>

                                    <div class="simditor">
                                        <div class="simditor-body" >
                                        	加油吧骚年
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="box-footer">
                                <ul class="list-inline mb0">
                                    <li>
                                        <span class="link-black">
                                            三天前
                                        </span>
                                    </li>
                                    <li class="pull-right">
                                        <span class="link-black">
                                            <a href="">编辑</a>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!--/正文盒子-->

                    </div>

  							<div class="col-md-3">

								<div class="box box-solid">
									<div class="box-header with-border">
										<h3 class="box-title">光荣榜</h3>
										<div class="box-tools">
											<button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                            class="fa fa-minus"></i>
                                    </button>
										</div>
									</div>
									<div class="box-body no-padding">
										<div class="ranking-card-base false">
											<div class="ranking-list-base true">
												<div class="ranking-list">
													<div class="ranking-list-item">
														<div class="list-inner">
															<div class="ranking"></div>
															<div class="avatar">
																<a target="_blank">
																	<img src="../../static/Cat.jpg" style="height: 30px; width: 30px;" class="img-circle"></a>
															</div>
															<div class="name-info">
																<div class="name">沈琪凯</div>
																<div class="info">提交了1次回答 </div>
															</div>
														</div>
													</div>
													<div class="ranking-list-item-more">
														<a href="javascript:void(0)">
															<div class="list-inner text-center">显示更多...</div>
														</a>
													</div>
												</div>

											</div>
										</div>
									</div>

								</div>

								<div class="box box-solid">
									<div class="box-header with-border">
										<h3 class="box-title">联系我们</h3>
									</div>
									<!-- /.box-header -->
									<div class="box-body">
										<strong><i class="fa fa-qq margin-r-5"></i> QQ交流群</strong>

										<p class="text-muted">
											开发者交流群(付费1元)：<strong>8888888</strong> <br> CatBlog交流群：
											<strong>8888888</strong> <br> 谈论人生，交流技术和分享资源。
										</p>

										<hr>
										<strong><i class="fa fa-wechat margin-r-5"></i> 管理员微信</strong>

										<p class="text-muted">
											微信号：<strong>bigbangshengqikai </strong> <br> QQ号: <strong>    1228394266 </strong><br> 遇到问题，可以联系管理员
										</p>

										<hr>
										<strong><i class="fa fa-file-text-o margin-r-5"></i> 其他方式</strong>
										<p>
											<a>沈琪凯的留言板</a>
										</p>
									</div>
									<!-- /.box-body -->
								</div>
							</div>

                </div>
            </section>
        </div>
        <!-- /.container -->
    </div>

</div>

<footer class="main-footer">
			<div class="container" style="text-align: center;">
				<strong>Copyright &copy; 2018 <a href="http://shenqikai.com">CatBlog</a></strong>
				<a href="http://www.miitbeian.gov.cn/" class="text-black" target="_blank">苏ICP备19003971号-1</a>
			</div>
			<!-- /.container -->
		</footer>

		<script type="text/javascript" src="../../static/components/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="../../static/components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../static/components/layer/layer.js"></script>
		<script type="text/javascript" src="../../static/js/script.js"></script>
		<script type="text/javascript" src="../../static/components/adminlte/js/adminlte.min.js"></script>
		<script type="text/javascript" src="../../static/js/question-list.js"></script>

</body>
</html>
