<footer class="main-footer">
    <div class="container" style="text-align: center;">
        <strong>Copyright &copy; 2018 <a href="http://shenqikai.com">CatBlog</a></strong> <a href="http://www.miitbeian.gov.cn/" class="text-black" target="_blank">苏ICP备19003971号-1</a>
    </div>
    <!-- /.container -->
</footer>

<div class="modal fade in" id="loginModal">
    <div class="modal-dialog modal-sm" style="width:350px;">
        <div class="modal-content" style="border:none;">
            <div class="modal-header">
                <button type="button" id="login_close" class="close" data-dismiss="modal"><span
                        aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="loginModalLabel" style="font-size: 18px;">快速登录</h4>
            </div>
            <div class="modal-body" id="login-modal-body">
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="components/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/components/layer/layer.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="/components/adminlte/js/adminlte.min.js"></script>

