<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<title> CatBlog改变程序员的人生</title>
		<link rel="icon" href="../static/Cat4.ico" type="image/x-icon" />
		<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="../static/components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/components/adminlte/css/AdminLTE.min.css">
		<link rel="stylesheet" href="../static/components/adminlte/css/skins/skin-green-light.min.css">
		<link rel="stylesheet" href="../static/css/style.css">

	</head>

	<header class="main-header">

		<body class="hold-transition skin-green-light layout-top-nav">
			<div class="wrapper">

				<nav class="navbar navbar-static-top">
					<div class="container">
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse pull-left" id="navbar-collapse">
							<ul class="nav navbar-nav" style="">
								<form class="navbar-form navbar-left" action="/search/articles" role="search">
									<div class="form-group">
										<input type="text" class="form-control global-search-input" name="keywords" id="main-search-input" placeholder="Search...">
									</div>
								</form>
								<li style="padding-left: 40px;">
									<a href="index.html" class="active">首页</a>
								</li>

								<li style="padding-left: 40px;">
									<a href="home/article_list.html" class="active">日志</a>
								</li>
								<li style="padding-left: 40px;">
									<a href="../templates/home/userspace/article/add.html">写日志</a>
								</li>
								<li style="padding-left: 40px;">
									<a href="home/question_list.html">问答</a>
								</li>
								<li style="padding-left: 40px;">
									<a href="../templates/home/userspace/question/add.html">提问</a>
								</li>
								<li style="padding-left: 40px;">
									<a href="home/homepage/article.html">我的主页</a>
								</li>
							</ul>

						</div>

						<div class="navbar-custom-menu" id="user-nav-wrapper">

							<ul class="nav navbar-nav">
								<li>
									<a id="loginModalBtn" href="../templates/home/login/login.html">登录 </a>
								</li>
								<li>
									<a href="../templates/home/login/register.html" target="_blank">注册</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
	</header>

	<div class="content-wrapper">
		<div class="container">
			<section class="content">
				<div class="row">

					<div class="col-md-3" id="sidebar">
						<div class="box box-solid">
							<div class="box-header with-border">
								<h3 class="box-title">公告栏</h3>
								<div class="box-tools">
									<button type="button" class="btn btn-box-tool" data-widget="collapse">
										<i class="fa fa-minus"></i>										
									</button>
								</div>
							</div>
							<div class="box-body" style="padding: 0 10px;">
								<ul class="profile-mine__content mb0">
									<li>
										<div class="row">
											<div class="col-md-12 profile-mine__content--title-warp">
												<a class="profile-mine__content--title" href="../templates/home/bulletin_list.html" target="_blank">
													<span class="text-maroon">[置顶]  加油骚年</span>
												</a>
											</div>
										</div>
									</li>
									<li style="border-bottom: 0;">
										<a>查看更多</a>
									</li>
								</ul>
							</div>
						</div>

						<div class="box box-solid">
							<div class="box-header with-border">
								<h3 class="box-title">最新问答</h3>
								<div class="box-tools">
									<button type="button" class="btn btn-box-tool" data-widget="collapse">
										<i class="fa fa-minus"></i>										
									</button>
								</div>
							</div>
							<div class="box-body" style="padding: 0 10px;">
								<ul class="profile-mine__content mb0">
									<li>
										<div class="row">
											<div class="col-md-12 profile-mine__content--title-warp">
												<a class="profile-mine__content--title">
													为甚么自己不行
												</a>
											</div>
										</div>
									</li>
									<li style="border-bottom: 0;">
										<a>查看更多</a>
									</li>
								</ul>
							</div>
						</div>

						<div class="box box-solid">
							<div class="box-header with-border">
								<h3 class="box-title">声望榜</h3>

								<div class="box-tools">
									<button type="button" class="btn btn-box-tool" data-widget="collapse">
										<i class="fa fa-minus"></i>										
									</button>
								</div>
							</div>
							<div class="box-body no-padding">
								<div class="ranking-card-base false">
									<div class="ranking-list-base true">
										<div class="ranking-list">
											<div class="ranking-list-item">

												<div class="list-inner">
													<div class="ranking">1</div>
													<div class="avatar">
														<a href="" target="_blank">
															<img src="../static/Cat.jpg" style="height: 30px; width: 30px;" class="img-circle"></a>
													</div>
													<div class="name-info">
														<div class="name" > 沈琪凯</div>
														<div class="info">999 声望</div>
													</div>
												</div>
											</div>
											<div class="ranking-list-item-more">
												<a href="javascript:void(0)">
													<div class="list-inner text-center">显示更多...</div>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="box box-solid">
							<div class="box-header with-border">
								<h3 class="box-title">联系我们</h3>
								<div class="box-tools">
									<button type="button" class="btn btn-box-tool" data-widget="collapse">
										<i class="fa fa-minus"></i>										
									</button>
								</div>
							</div>
							<!-- /.box-header -->
							<div class="box-body">
								<strong><i class="fa fa-qq margin-r-5"></i> QQ交流群</strong>

								<p class="text-muted">
									老司机交流群：<strong>888888</strong> <br> CatBlog交流群：
									<strong>88888</strong> <br> 资源分享！
								</p>

								<hr>
								<strong><i class="fa fa-wechat margin-r-5"></i> 管理员微信</strong>

								<p class="text-muted">
									微信号：<strong>88888 </strong>(QQ同号) <br> 遇到问题，可以联系管理员
								</p>

								<hr>
								<strong><i class="fa fa-file-text-o margin-r-5"></i> 其他方式</strong>
								<p class="text-muted">
									<strong>没有谢谢！管理员忙于学习请勿打扰 </strong>

								</p>

							</div>
							<!-- /.box-body -->
						</div>

					</div>
					<div class="col-md-9">
						<!--这里是指标-->
						<div id="carousel-home-generic" class="carousel slide" data-ride="carousel">
							<ol class="carousel-indicators">
								<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
								<li data-target="#myCarousel" data-slide-to="1"></li>
								<li data-target="#myCarousel" data-slide-to="2"></li>
							</ol>
							<!--录播项目-->
							<div class="carousel-inner">
								<div class="item active">
									<img src="../static/meinv1.jpg" alt="Fist slide">
									<div class="carousel-caption"> 这是一</div>
								</div>
								<div class="item">
									<img src="../static/meinv2.jpg" alt="Sencond slide" />
									<div class="carousel-caption"> 这是二</div>
								</div>
								<div class="item">
									<img src="../static/timg.jpg" alt="Third  slide" />
									<div class="carousel-caption"> 这是</div>
								</div>
							</div>
							<a class="left carousel-control" href="#carousel-home-generic" data-slide="prev">
								<span class="fa fa-angle-left"></span>
							</a>
							<a class="right carousel-control" href="#carousel-home-generic" data-slide="next">
								<span class="fa fa-angle-right"></span>
							</a>
						</div>

						<div id="article-box">
							<div id="article-box-replace">
								<div class="box box-solid">
									<div class="box-header with-border">
										<h3 class="box-title">推荐文章</h3>
									</div>
									<div class="box-body" style="padding: 0 10px;">
										<ul class="profile-mine__content mb0">
											<li>
												<div class="row">
													<div class="col-md-12 profile-mine__content--title-warp">
														<p class="nowrap bold" style="font-size:16px;">
															<a href="../templates/home/article_detail.html" class="link-primary" target="_blank">这里是标题</a>
														</p>
														<ul class="list-inline" style="font-size: 12px!important;line-height: 30px;">
															<li>
																<a href="" target="_blank">
																	<img src="../static/Cat.jpg" alt="" class="img-circle" width="30">

																	<span>沈琪凯</span>
																</a>
															</li>
															<li class="pull-right">
																<a class="link-black" target="_blank">
																	<i class="margin-r-5"></i>评论(32)</a>
															</li>
															<li class="pull-right">
																<a class="link-black" target="_blank">
																	<i class="margin-r-5"></i>阅读(23)
																</a>
															</li>
															<li>
																<a href="#" class="link-black disabled">
																	<i class="margin-r-5"></i>三周前
																</a>
															</li>
														</ul>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>

								<!--分页-->
								<div data-th-fragment="bottom-page">
									<div class="bottom-page paging-box-big">

										<a href="javascript:void(0)" class="page-link prev">上一页</a>

										<a href="javascript:void(0)" class="page-link">1</a>

										<a href="javascript:void(0)" class="page-link next">下一页</a>

										<div class="page-jump">共<span>2</span>页，跳至
											<input type="number" class="jump-page-size">页
										</div>
									</div>
								</div>

								<!--/分页-->
							</div>
						</div>
					</div>
				</div>

			</section>
		</div>
		<!-- /.container -->
	</div>
	</div>

	<footer class="main-footer">
		<div class="container" style="text-align: center;">
			<strong>Copyright &copy; 2018 <a href="http://shenqikai.com">CatBlog</a></strong>
			<a href="http://www.miitbeian.gov.cn/" class="text-black" target="_blank">苏ICP备19003971号-1</a>
		</div>
		<!-- /.container -->
	</footer>

	<script type="text/javascript" src="../static/components/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="../static/components/bootstrap/dist/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="../static/js/script.js"></script>
	<script type="text/javascript" src="../static/components/adminlte/js/adminlte.min.js"></script>
	</body>

</html>